*{
padding:0;
margin:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

.container{				
	margin:0 auto;
	text-align:center;
	background:transparent;
	
}

.page-header{
	height:240px;
	width: 100%;
}
.page-header__container{
	display: flex;
	justify-content:space-around;
	
}

.menu{
	margin-top:60px;
}

.menu__burger{
	position: relative;
	height:60px;
	width:60px;
	border-radius:100%;
	box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.menu__burger:before{
	
	content: "";
	  position: absolute;
	  left: 20px;
	  top: 25px;
	  width: 20px;
	  height: 2px;
	  background: black;
	  box-shadow: 
		0 5px 0 0 black,
		0 10px 0 0 black;
}

.logo{
	text-align:center;
	min-width:410px;
	border-radius:0 0 410px 410px;
	box-shadow: 0 0 100px rgba(0,0,0,0.1);
}

.logo__title{
	margin-top:60px;
	color:#43a9ff;
	font-size: 48px;
	font-weight:bold;
}

.logo__definition{
	font-size: 18px;
	color: #808080;
	margin-bottom:90px;
	font-weight: bold;
	opacity:0.5;
}

.search{
	padding:auto;
	margin-top:60px;
	height:60px;
	width:60px;
	border-radius:100%;
	box-shadow: 0 0 60px rgba(0,0,0,0.1);
}

.search__icon{
	display: block;
	margin:auto;
	margin-top: 20px;
}

.front-page{
	background:url('img/horse_layout.png') 0px -220px no-repeat;
	height:1000px;
	padding-top:165px;
}

.front-page__container{
	max-width:900px;
}

.front-page__maintext{
	font-size: 48px;
	color: #000000;
	font-weight: bold;
	margin-bottom: 23px;
}

.front-page__bottomtext{
	font-size: 18px;
	color: #4b5863;
	opacity:0.5;
}

.button{
	margin-top: 50px;
	width: 225px;
	height: 50px;
	letter-spacing: 0.5px;
	background:#fff;
	color: #66b9ff;
	font-size: 14px;
	font-weight: bold;
	border:none;
	border-radius:50px 50px 50px 50px;
}

.button:hover{
	transition-duration: 0.7s;
	background-color: #66b9ff;
	color:#fff;
}

.button:active{
	background-color: #2f9df9;
	transition-duration: 0.2s;
}

.button:focus{
	outline: none;
}

.features__offer{
	display:flex;
	max-width:1470px;
	justify-content:space-around;
	flex-wrap:wrap;
	margin: 0 auto;
	margin-top: 100px;
}

.features__titles{
	margin-top: 50px;
}

.features__maintext{
	font-size: 48px;
}

.features__bottomtext{
	font-size: 18px;
	color: #4b5863;
	margin-bottom: 20px;
	opacity:0.5;
}

.features__item{
	max-width:345px;
	margin:0 auto;
	text-align:center;
}

.item__title{
	max-width:260px;
	font-size: 18px;
	margin-top: 35px;
}

.item__definition{
	max-width:230px;
	font-size: 14px;
	margin:0 auto;
	margin-top: 40px;
	line-height: 24px;
	opacity:0.5;
	color: #4b5863;		
}

.features__button{
	margin-top: 90px;
	margin-bottom: 100px;
}

.about__container{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 560px 560px;
	background-color: #f7f8fb;
}

.about__item{
	max-height: 560px;
}

.about__item_background1{
	background: url('img/grid_img1.png');
}

.about__item_background2{
	background: url('img/grid_img2.png');
}

.about__title{
	font-size: 48px;
	margin-top: 180px;
	font-weight: bold;
}

.about__definition{
	font-size: 16px;
	line-height: 24px;
	opacity:0.5;
	color: #4b5863;	
	margin-top: 50px;
	max-width: 500px;
	text-align: left;
	line-height: 200%;
}

.about_item_text{
	text-align: left;
	margin: 0 auto;
}